
<h1>Artist: <h1>
<h2>Songs</h2>

<% @songs.each do |song| %>
  <p>Title: <%= song.title %></p>
  Album: <strong><%= song.album %></strong> Year: <strong><%= song.release_year %></strong></p>
  
<% end %>

<hr>


